body{
	background: #F7F8F8;
	margin-bottom: 2.304rem;
}
.portrait{
	background: url(../images/backbanner.png) no-repeat center center;
	background-size:100% auto;
	text-align: center;
	height: 9.36rem;
}
.portrait>img{
	display: block;
}
.portrait .portraitpic{
	width: 3.816rem;
	margin: auto;
	border-radius:50%;
	padding-top: 1.9152rem;
}
.portrait .portraitpic div img{
	width: 3.816rem;
	margin: auto;
	height: 3.816rem;
	border-radius:50%;
}
.portrait span{
	display: inline-block;
	background: rgba(250,250,250,0.7);
	border-radius:1rem;
	font-size: 0.8rem;
	font-family: pingfang;
	font-weight: bold;
	padding: 0 0.5rem;
	color: #333333;
}



/*<!--		点击项-->*/
.optionscenter{
	margin-top: 0.7rem;
}
.optionscenter ul{
	
}
.optionscenter ul li{
	background: white;
}
.optionscenter ul li a{
	display: block;
	background: white;
	font-size: 0.8rem;
	font-weight: bold;
	color: #333333;
	font-family: pingfang;
	letter-spacing: 1px;
	padding:0.2rem 0 0.2rem 3rem;
	margin-bottom: 1.056rem;
}
.optionscenter ul li:nth-child(1) a{
	background: url(../images/center01.png) no-repeat 1.008rem center;
	background-size:1.2888rem auto;
}
.optionscenter ul li:nth-child(2) a{
	background: url(../images/center02.png) no-repeat 1.008rem center;
	background-size:1rem auto;
}
.optionscenter ul li:nth-child(3) a{
	background: url(../images/center03.png) no-repeat 1.008rem center;
	background-size:1.2rem auto;
}
.optionscenter ul li:nth-child(4) a{
	background: url(../images/center04.png) no-repeat 1.008rem center;
	background-size:1.05rem auto;
}
.optionscenter ul li:nth-child(5) a{
	background: url(../images/center05.png) no-repeat 1.008rem center;
	background-size:1.15rem auto;
}


